body {
    background-color: rgb(238, 168, 118);
}

form {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e4b4b4;
  }
  
  h1 {
    color: rgb(112, 19, 108);
    text-align: center;
    ;
  }

  body {
      color:rgb(73, 17, 70)
  }